<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="addNewData(form.value)">
      <div class="form-group">
        <label for="txtLugar" class="col-sm-2 control-label">Lugar </label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="txtLugar" placeholder="Lugar" ngModel name="ComunaCorregimiento">
        </div>
      </div>
      <div class="form-group">
        <label for="txt2015" class="col-sm-2 control-label">Población 2015 </label>
        <div class="col-sm-10">
          <input class="form-control" id="txt2015" type="text" placeholder="Población" ngModel name="year2015">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button class="btn btn-default" type="submit">Agregar</button>
          <button class="btn btn-default" >Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <hr>
     <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <tr class="info">
            <th>Lugar
              <a class="btn" (click)="sortPoblacion('ComunaCorregimiento', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2007
              <a class="btn" (click)="sortPoblacion('year2007', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2008
              <a class="btn" (click)="sortPoblacion('year2008', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2009
              <a class="btn" (click)="sortPoblacion('year2009', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2010
              <a class="btn" (click)="sortPoblacion('year2010', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2011
              <a class="btn" (click)="sortPoblacion('year2011', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2012
              <a class="btn" (click)="sortPoblacion('year2012', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2013
              <a class="btn" (click)="sortPoblacion('year2013', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2014
              <a class="btn" (click)="sortPoblacion('year2014', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
            <th>2015
              <a class="btn" (click)="sortPoblacion('year2015', true)">
                <i class="fa fa-sort"></i>
              </a>
            </th>
          </tr>
          <tr *ngFor="let lugar of poblacion">
            <td>{{lugar.ComunaCorregimiento}}</td>
            <td>{{lugar.year2007}}</td>
            <td>{{lugar.year2008}}</td>
            <td>{{lugar.year2009}}</td>
            <td>{{lugar.year2010}}</td>
            <td>{{lugar.year2011}}</td>
            <td>{{lugar.year2012}}</td>
            <td>{{lugar.year2013}}</td>
            <td>{{lugar.year2014}}</td>
            <td>{{lugar.year2015}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
